body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
  }
  
  .fade {
    position: relative;
    width: 100%;
    min-height: 50vh;
    top: 0px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 500px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 800%;
    font-weight: 800;
    line-height: 100%;
    perspective: 500px;
    text-align: justify;
  }
  
  .text {
    position: relative;
    transform-origin: 50% 100%;
    animation: text 30s ease-in;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  
  .text .title {
    font-size: 70%;
    text-align: center;
  }
  
  .text .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes text {
    0% {
      top: 0;
      transform: rotateX(30deg)  translateZ(0);
    }
    100% { 
      top: -7000px;
      transform: rotateX(25deg) translateZ(-3000px);
    }
  }

